<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather+Sans" />
	<link rel="stylesheet" href="../style.css" />
	<link rel="icon" type="image/png" href="../images/home/icon-48.png" />
	<title>Board Summary for Trello - {{ .Title }}</title>
</head>

<body data-spy="scroll" data-target="#TableOfContents" data-offset="0">
	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 pb-0 shadow-sm bg-blue">
		<img src="../images/home/icon-48.png" alt="Board Summary for Trello Icon" class="pr-3" />
		<div class="h2 my-0 mr-md-auto font-weight-normal text-white title-font">
			<strong>Board Summary</strong> <em>for Trello</em>
		</div>
		<nav class="my-2 my-md-0 mr-md-3">
			<a class="p-2 text-white" href="../">Home</a>
			<a class="p-2 text-white" href="../docs/">Documentation</a>
			<a class="p-2 text-white" href="../changelog/">Changelog</a>
		</nav>
	</div>
	<main role="main">
		<div class="row my-3 mx-0 px-3">
			<div class="col-lg-3 d-none d-lg-block">
				<div class="sticky-top {{ .Params.toc_class }}">
					{{ .TableOfContents | replaceRE "<nav id=\"TableOfContents\">" "<nav id=\"TableOfContents\" class=\"navbar font-sm\">" | replaceRE "<ul>" "<ul class=\"nav nav-pills flex-column\">" | replaceRE "<li>" "<li class=\"nav-item\">" | replaceRE "<a href" "<a class=\"nav-link\" href" | safeHTML }}
				</div>
				</div>
				<div class="col-lg-9">
					{{ .Content | replaceRE "<img " "<img class=\"img-fluid\" " | replaceRE "<h2 " "<h2 class=\"pt-3\" " | replaceRE "<h3 " "<h3 class=\"pt-2\" " | safeHTML }}
				</div>
			</div>
		</div>
	</main>

	<script src=" https://code.jquery.com/jquery-3.5.1.slim.min.js"
						integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
						crossorigin="anonymous"></script>
					<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
						integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
						crossorigin="anonymous"></script>
					<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
						integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
						crossorigin="anonymous"></script>
</body>

</html>
